#map {
    vertical-align: top;
    height: 600px;
    border: 1px solid #C0C0C0;
    padding: 0;
    margin-top: 10px;
}

#digitization_problems {
    padding: 0;
    border: 1px solid #C0C0C0;
    height: 600px;
    margin-top: 10px;
}

/* Override bootstrap fade for changing duration */
.fade {
  opacity: 0;
  -webkit-transition: opacity .1s linear;
       -o-transition: opacity .1s linear;
          transition: opacity .1s linear;
}

em {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    white-space:pre;
}

.olext-popup {
    padding-right: 20px;
}

.problem-panel-element {
    width: 100%;
}

#problem-desc {
    position: relative;
    border-bottom: 2px dashed #8C8C8C;
    line-height: normal;
    height: 15%;
    padding: 5px;
    overflow: auto;
}

#problem-desc h3 {
    margin-bottom: 10px;
}

#problem-comments {
    position: relative;
    border-bottom: 1px solid #8C8C8C;
    line-height: normal;
    height: calc(55% - 10px);
}

#add-problem-comment {
    position: relative;
    line-height: normal;
    height: 30%;
}

#digitization_problems h3 {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: normal;
}

#pb_controls {
    position: absolute;
    right: 5px;
    top: 5px;
}

#problem-comments {
    display: inline-block;
    overflow: auto;
    padding: 5px 10px 5px 10px;
}

#problem-comments div {
    display: inline-block;
    border-bottom: 1px solid #B8B8B8;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

#problem-comments div br {
    margin-bottom: 10px;
}

#add_comment_content {
    position: relative;
    padding: 5px;
}

#comment_textarea {
    resize: none;
    background: #F4FFF0;
    margin-top: 5px;
    padding: 3px;
    width: 90%;
    height: 43%;
}

#comment_button {
    position: absolute;
    bottom: 5px;
}

#ajax_status {
    position: relative;
    text-align: center;
    top: calc(-100% + 10px);
    width: 40%;
    margin: 0 30% 0 30%;
}

#ajax_status progress {
    width: 100%;
}

#ajax_status h4 {
    position: relative;
    background: #FFFFFF;
    font-size: 16px;
    border: 1px solid #585858;
    border-radius: 5px;
    margin: -42px 20% 0 20%;
    padding: 0;
    line-height: 40px;
}

.ol-control {
    line-height: normal;
}

.add-comment {
    bottom: 5px;
    right: 75px;
}

.add-comment button {
    width: auto !important;
    padding: 3px !important;
    font-size: 16px !important;
    font-weight: normal !important;
}

/* Popup */
.popup-form{
    display: block;
    line-height: normal;
    background-color: #FFFFFF;
    border-radius: 5px;
    max-width: 250px;
    position: relative;
    top: -15px;
    pointer-events: all;
}

.popup-form {
    padding: 10px;
}

 /* Arrow bottom */
.popup-form:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #FFFFFF;
    border-width: 10px;
    margin-left: -10px;
    pointer-events: none;
}

.ol-overlay-container {
    pointer-events: none;
}

.add_pb_textarea {
    resize: none;
    background: #F4FFF0;
    margin-top: 5px;
    padding: 3px;
    width: 95%;
    height: 30%;
}

.pb_type_select {
    width: 100%;
}
