#map {
    vertical-align: top;
    height: 600px;
    margin-top: 10px;
    border: 1px solid #C0C0C0;
    padding: 0;
}

#massif_form {
    margin-top: 10px;
    height: 400px;
    border: 1px solid #C0C0C0;
    padding: 0;
}

#massif_detail {
    overflow: auto;
    width: 100%;
    height: 190px;
    line-height: normal;
    border: 1px solid #C0C0C0;
    margin-top: 13px;
}

#massif_detail h4 {
    margin: 0;
    padding: 4px;
}

.olext-popup-closer:after {
  content: none;
}

.olext-popup-title {
    padding: 0;
    border: none;
}

/* Override bootstrap fade for changing duration */
.fade {
  opacity: 0;
  -webkit-transition: opacity .05s linear;
       -o-transition: opacity .05s linear;
          transition: opacity .05s linear;
}

.tablesorter {
    line-height: 30px;
    width: 100%;
    font-size: 14px;
    padding: 0;
    margin: 0;
    text-align: left;
    border: none;
}

#detail_head {
    background: #E0E0E0;
    width:100%;
    border-bottom: 1px solid #C0C0C0;
}

#detail_content {
    font-size: 16px;
    padding: 7px 5px 5px 5px;
    margin: 0;
}

#detail_content h3 {
    font-size: 16px;
    margin: 0;
    padding: 0 0 15px 0;
}

#detail_content p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0 0 3px 0;
}

#detail_content a {
    display: inline-block;
    text-decoration: none;
    color: #6C6C89;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0 0 0;
}

.massif_button {
    cursor: pointer;
}

.selected td {
    background-color: #ADC2D6 !important;
}
