h1 {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 30px;
}

container {
    line-height: normal;
}

#assignation_container {
    margin: 0 40% 0 0;
    width: 60%;
}

td a {
    display: block;
    text-align: center;
}

td a img {
    height: 100%;
    vertical-align: middle;
}

.tablesorter {
    line-height: 30px;
    width: 100%;
    font-size: 14px;
    padding: 0;
    margin: 0;
    text-align: left;
    border: none;
}

#detail_head {
    background: #E0E0E0;
    width:100%;
    border-bottom: 1px solid #C0C0C0;
}
