{% extends "site_base.html" %}

{% load i18n %}

{% block body_base %}
    <div class="container">
        <h1>Geoserver</h1>
        <h2>{{ workspace.name }}</h2>
        <h3>Datastores</h3>
        <ul>
            {% for store in stores %}
            <li>
                <a href="{{ store.name }}">{{ store.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
