{% extends "site_base.html" %}

{% load i18n %}

{% block body_base %}
    <div class="container">
        <h1>Geoserver</h1>
        <h2>Espaces de travail</h2>
        <ul>
            {% for workspace in workspaces %}
            <li>
                <a href="{{ workspace.name }}">{{ workspace.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
