{% extends "site_base.html" %}

{% load i18n %}

{% load staticfiles %}

{% block styles %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.6.0/ol.min.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'django_geoserver/css/preview_map.css' %}" />
{% endblock %}

{% block body_base %}
    <div class="container">
        <h1>Geoserver</h1>
        <h2>{{ workspace.name }}</h2>
        <h3>{{ store.name }}</h3>
        <div id="map"></div>
        <script>
        var wms_url = "{{ wms_url }}";
        var layer = "{{ datastore.name }}:{{ layer.name }}";
        </script>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.6.0/ol.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
    <script src="{% static 'django_geoserver/js/preview_map.js' %}" type="text/javascript"></script>
{% endblock %}

