{% extends "site_base.html" %}

{% load i18n %}

{% load staticfiles %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'django_geoserver/css/geoserver_store.css' %}" />
{% endblock %}

{% block body_base %}
    <div class="container">
        <h1>Geoserver</h1>
        <h2>{{ workspace.name }}</h2>
        <h3>{{ store.name }}</h3>
        <br>
        <div class="row">
            {% for layer, layer_meta, links in layers %}
            <div class="col-sm-6 col-md-4">

                <div class="modal fade bs-example-modal-lg" id="{{ layer.name }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="myLargeModalLabel">{{ layer_meta.title }} - Liens</h4>
                            </div>
                            <div class="modal-body">
                                {% for link in links %}
                                <p><b>{{ link.0 }}</b>: <code>{{ link.1 }}</code></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{ layer_meta.title }}</h3>
                        {% if layer_meta.abstract %}
                            <p>{{ layer_meta.abstract }}</p>
                        {% endif %}
                        <div class="bottom_stick">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#{{ layer.name }}">
                                    Liens
                                </button>
                            </div>
                            <a href="{{ store.name }}/{{ layer.name }}/preview" class="btn btn-default" role="button">Prévisualiser</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
