{% extends "site_base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/ol3/3.10.1/ol.min.css' rel='stylesheet' />
    <link rel="stylesheet" href='{% static "map_view/css/map_view.css" %}' />
    <link rel="stylesheet" href='{% static "css/olext.css" %}' />
{% endblock %}

{% block body_base %}
    <div class="container">
    {% block content_map %}
        <div id="map"></div>
    {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.5/js/jquery.tablesorter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.12/proj4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.10.1/ol.min.js"></script>
    <script src="{% static 'js/olext.min.js' %}" type="text/javascript"></script>
    <script>geojson_data = {{ geojson_data|safe }};</script>
    <script src='{% static "map_view/js/map_view.js" %}'></script>
{% endblock %}
