{% load replace_column %}

<div class="panel panel-default scroll">
    <table class="table">
        <thead>
            <tr>
                {% for h in header %}
                    <th>{{ h }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        {% if forloop.counter0 in replace_columns %}
                            <td>{{ row|replace_location_column:forloop.counter0|safe }}</td>
                        {% else %}
                            <td>{{ cell }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if rows.has_previous %}
                        <a href="?page={{ rows.previous_page_number }}">Précédent</a>
                    {% endif %}

                    <span class="current">
                        Page {{ rows.number }} sur {{ rows.paginator.num_pages }}.
                    </span>

                    {% if rows.has_next %}
                        <a href="?page={{ rows.next_page_number }}">Suivant</a>
                    {% endif %}
                </span>
            </div>
        </tbody>
    </table>
</div>
