{% extends "site_base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href='{% static "table_read/css/table_read.css" %}' />
{% endblock %}

{% block body_base %}
    <div class="container">
        <h1>{{ dataset.name }}</h1>
        <h2>Tableau de données</h2>
        {% include "table_read/data_table.html" %}
    </div>
{% endblock %}
