{% extends "site_base.html" %}

{% load staticfiles %}

{% load i18n %}

{% load crispy_forms_tags %}
{% load bootstrap_tags %}

{% block styles %}
    {{ block.super }}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/ol3/3.10.1/ol.min.css' rel='stylesheet' />
    <link rel="stylesheet" href='{% static "rapid_inventories/css/add_inventory.css" %}' />
{% endblock %}

{% block body_base %}
    <div class="container">
        <h1>Nouvel inventaire rapide</h1>
        <a href="/rapid_inventories/">retour aux inventaires</a>
    </div>
    <form class="panel-body" method="POST">{% csrf_token %}
        <div class="container">
            {% if not form.is_valid and request.POST %}
                <div class="has-error"><span class="help-block">
                    <strong>Le formulaire comporte des erreurs, veuillez les corriger</strong>
                </span></div>
            {% endif %}
             <div class="panel panel-default ">
                    <div class="panel-heading"><h4>{% trans "Informations générales" %}</h4></div>
                    <div class="panel-body">
                        <div class="row no_top_margin">
                            <div id="external_lat_long" class="col-xs-12 col-md-4">
                                {% crispy general_form general_form.helper %}
                                {% if error_location %}
                                    <div class="has-error"><span class="help-block">
                                        <strong>La localisation de la placette est obligatoire</strong>
                                    </span></div>
                                {% endif %}
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <label for="map" class="control-label required-field ">Localisation</label>
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="long" id="long_hidden" value="{{ long }}">
                    <input type="hidden" name="lat" id="lat_hidden" value="{{ lat }}">
             </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4>{% trans "Prise de mesures en statique au centre de la placette" %}</h4></div>
                <div class="panel-body">
                    {% crispy center_form %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4>{% trans "Prise de mesures en cheminement dans la placette" %}</h4></div>
                <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans "Constatez vous la présence de" %}</div>
                    <div class="panel-body">
                        {% crispy vegetation_form %}
                    </div>
                </div>
                    {% crispy walking_form %}
                </div>
            </div>
            <button type="submit" class="btn btn-success" role="button">Soumettre</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.12/proj4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.10.1/ol.min.js"></script>
    <script src='{% static "rapid_inventories/js/add_inventory.js" %}'></script>
{% endblock %}
