{% extends "site_base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/ol3/3.10.1/ol.min.css' rel='stylesheet' />
    <link rel="stylesheet" href='{% static "rapid_inventories/css/consult_inventories.css" %}' />
    <link rel="stylesheet" href='{% static "css/olext.css" %}' />
{% endblock %}

{% block body_base %}
    <div class="container">
        <h1>Inventaires rapides des forêts</h1>
        <div id="map"></div>
        <br>
        <p><a href="add/" class="btn btn-success" role="button">Saisir un inventaire</a></p>
        <br>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table" id="inventories_table">
                    <thead>
                        <tr>
                            {% for h in header %}
                                <th>{{ h }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in inventories %}
                            <tr>
                                {% for cell in row %}
                                    {% if forloop.counter == 5 %}
                                    <td>{{ cell|safe }}</td>
                                    {% else %}
                                    <td>{{ cell }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.5/js/jquery.tablesorter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.12/proj4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.10.1/ol.min.js"></script>
    <script src="{% static 'js/olext.min.js' %}" type="text/javascript"></script>
    <script src='{% static "rapid_inventories/js/consult_inventories.js" %}'></script>
{% endblock %}
