{% extends "site_base.html" %}

{% load staticfiles %}

{% load bootstrap_tags %}

{% load i18n %}

{% block body_base %}
    <div class="container">
        <h1>Ajouter un nouveau magasin de données</h1>
        <form method="POST">{% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body" id="ds_type">
                    {% for sd in supported_datastores %}
                        <label class="radio-inline"><input type="radio" name="datastore_type" value="{{ sd.0 }}" {% if sd.2 %}checked{% endif %}>{{ sd.1 }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default hidden" id="csv_folder">
                <div class="panel-body">
                    {{ csv_folder_form|as_bootstrap }}
                </div>
            </div>
            <div class="panel panel-default hidden" id="pg_db">
                <div class="panel-body">
                    {{ pg_db_form|as_bootstrap }}
                </div>
            </div>
        <button type="submit" class="btn btn-success" role="button">Soumettre</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src='{% static "datasets_admin/js/add_datastore.js" %}'></script>
{% endblock %}
