{% extends "site_base.html" %}

{% load i18n %}

{% block body_base %}
    <div class="container">
        <h1>Administration de l'entrepôt de données</h1>
        <p><a href="/datasets_admin/add_datastore" class="btn btn-primary" role="button">Ajouter un nouveau magasin de données</a></p>
        <br>
        <ul>
            {% for datastore in storage_backend.get_datastores %}
            <li><a href="datastore/{{ datastore.name }}">{{ datastore.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
