#map {
    height: 400px;
    padding: 0;
    border: 1px #CCCCCC solid;
    border-radius: 10px;
    overflow: hidden;
}

.row{
  margin-top: 20px;
  margin-bottom: 20px
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

h4 {
    margin: 3px;
}

.no_top_margin {
    margin-top: 0;
}

.radio-inline, .checkbox-inline {
    padding-bottom: 10px;
    padding-top: 5px;
}

.inline {
    display: inline-block;
    margin-right: 10px;
}
