{% extends "site_base.html" %}

{% load i18n %}

{% block body_base %}
    <div class="container">
        <h1>{{ dataset.name }}</h1>
        {% for service in services %}
            {% for method in service %}
                {% if method.0 == "export" %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ method.1 }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for format in method.2 %}
                                <li><a href="{{ method.0 }}/{{ format }}">{{ format }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <a href="{{ method.0 }}" class="btn btn-default" role="button">{{ method.1 }}</a>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
{% endblock %}
