{% extends "site_base.html" %}

{% load i18n %}

{% block body_base %}
    <div class="container">
        <h1>{{ datastore.name }}</h1>
        <ul>
            {% for dataset in datastore.get_datasets %}
            <li>
                <a href="{{ dataset.name }}">{{ dataset.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
