{% extends "site_base.html" %}

{% load i18n %}

{% load group_extras %}

{% block body_base %}
    <div class="container">
        <h1>Magasins de données</h1>
        {% if request.user|has_group:"datasets_admin" %}
            <p><a href="/datasets_admin" class="btn btn-primary" role="button">Administration</a></p>
            <br>
        {% endif %}
        <ul>
            {% for datastore in storage_backend.get_datastores %}
            <li><a href="{{ datastore.name }}">{{ datastore.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
