{% extends "site_base.html" %}

{% load staticfiles %}

{% block styles %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.6.0/ol.min.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.1/css/theme.ice.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/olext.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'forest_digitizing/css/forest.css' %}" />
{% endblock %}

{% block body_base %}
    <div class="container-fluid">
        <h1>Digitalisation au 1/3000ème</h1>
        <h3>{{ massif.name }}</h3>
        <a href="/digitizing/">retour aux massifs</a>
        <div class="row">
            <div class="col-xs-8 col-md-8"><div id="map">
                <div id="ajax_status"></div></div>
            </div><div id="digitization_problems" class="col-xs-4 col-md-4">
                <div id="problem-desc" class="problem-panel-element">
                </div>
                <div id="problem-comments" class="problem-panel-element">
                </div>
                <div id="add-problem-comment" class="problem-panel-element">
                    <div id="add_comment_content">
                        <h3>Ajouter un commentaire:</h3>
                        <textarea type="text" id="comment_textarea"></textarea><br>
                        <button id="comment_button">Commenter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>var data_size = {{ data_size }}</script>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        massif_geojson = JSON.parse("{{ massif_geojson|escapejs }}");
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.6.0/ol.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
    <!--<script src="{% static 'forest_digitizing/js/forest.min.js' %}" type="text/javascript"></script>-->

    <script src="{% static 'js/olext.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/closure-library/closure/goog/base.js' %}" type="text/javascript"></script>
    <script src="{% static 'forest_digitizing/js/forest/styles.js' %}" type="text/javascript"></script>
    <script src="{% static 'forest_digitizing/js/forest/comments.js' %}" type="text/javascript"></script>
    <script src="{% static 'forest_digitizing/js/forest/problems.js' %}" type="text/javascript"></script>
    <script src="{% static 'forest_digitizing/js/forest/map.js' %}" type="text/javascript"></script>
    <script src="{% static 'forest_digitizing/js/forest/forest.js' %}" type="text/javascript"></script>

{% endblock %}
