{% extends "site_base.html" %}

{% load staticfiles %}

{% block css_after_ol %}
    <link rel="stylesheet" type="text/css" href="{% static 'forest_digitizing/css/user_page.css' %}" />
{% endblock css_after_ol %}

{% block content %}
    <div class="container">
        <h1>{{ user.get_full_name }}</h1><br>
        <div id="assignation_container" class="subcontainer">
            <table id="assignation_table" class="tablesorter subcontainer">
                <thead>
                    <tr>
                        <th>Massif</th>
                        <th>Status</th>
                        <th>Télécharger</th>
                    </tr>
                </thead>
                <tbody>
                {% for m in massifs %}
                    <tr>
                        <td>{{ m.name }}</td>
                        <td>{{ m.status_display }}</td>
                        <td>
                            {% if m.file_available %}
                            <a href="download_spatialite/{{ m.key_name }}" download="{{ m.key_name_nosep }}.sqlite">
                                <img src="{% static 'forest_digitizing/icons/download.png' %}">
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <td>Aucun massif assigné.</td>
                    <td></td>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block js_after_jquery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.1/js/jquery.tablesorter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.1/js/jquery.tablesorter.widgets.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.1/js/widgets/widget-scroller.min.js"></script>
{% endblock js_after_jquery %}

{% block end_js %}
    <script src="{% static 'forest_digitizing/js/user_page/user_page.js' %}" type="text/javascript"></script>
{% endblock end_js %}
