{% extends "site_base.html" %}

{% load group_extras %}

{% load i18n %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>{% blocktrans %}Forêts humides de la Province Nord de Nouvelle-Calédonie{% endblocktrans %}</h1>
            <p>
                {% blocktrans %}
                {% endblocktrans %}
            </p>
            {% comment %}
            <!--{% if not user.is_authenticated %}-->
            <!--{% url "account_login" as login_url %}-->
            <!--{% url "account_signup" as signup_url %}-->
            <!--<p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>-->
            <!--{% endif %}-->
            {% endcomment %}
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Inventaires rapides des forêts</h3>
                            <p><a href="rapid_inventories/add" class="btn btn-success" role="button">Saisir un inventaire</a> <a href="rapid_inventories" class="btn btn-primary" role="button">Consulter les inventaires</a></p>
                        </div>
                    </div>
                </div>
                {% if request.user|has_group:"digitizing" %}
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Digitalisation des forêts au 1/3000ème</h3>
                            <p><a href="digitizing" class="btn btn-primary" role="button">Consulter la digitalisation</a></p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if request.user|has_group:"occurrences" %}
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Occurrences</h3>
                            <p><a href="occurrences" class="btn btn-primary" role="button">Consulter les occurrences</a></p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if request.user|has_group:"geoserver" %}
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Geoserver</h3>
                            <p><a href="geoserver" class="btn btn-primary" role="button">Consulter les couches du Geoserver</a></p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if request.user|has_group:"datasets" %}
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Entrepôt de données</h3>
                            <p><a href="datasets" class="btn btn-primary" role="button">Consulter l'entrepôt de données</a></p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <section>
        <div class="container">
        </div>
    </section>
{% endblock %}
