{% extends "site_base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block body_base %}
    <div class="container">
        <h1>Occurrences</h1>
        <br>
        <div>
            {% for service in services %}
                {% if service.0 == "export" %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ service.1 }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for format in service.2 %}
                                <li><a href="{{ service.0 }}/{{ format }}/">{{ format }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <a href="occurrences/{{ service.0 }}/" class="btn btn-default" role="button">{{ service.1 }}</a>
                {% endif %}
            {% endfor %}
        </div><br>
        {% include "table_read/data_table.html" %}
    </div>
{% endblock %}
